@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* manrope {Replacement of sathosi}*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", serif;
  overflow-x: hidden;
}

/* common css */
.container {
  padding-left: 20px;
  padding-right: 20px;
}

/* common css */


/* tarek css */
.swiper-pagination-bullet {
  background: #e7e8e8 !important;
}

.swiper-pagination-bullet-active {
  background: #010B21 !important;
}

.faq-collapse .ant-collapse-header {
  align-items: center !important;
}

.gradient-text {
  background: linear-gradient(95deg, #09B5FF 0%, #4F81FF 53.67%, #0048FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Default (no border) */
.ant-select-selector {
  background: #F3F3F4 !important;
  border-radius: 0.375rem;
  border: none !important;
  outline: 1px solid transparent !important;
  transition: all 0.2s ease;
  height: 44px !important;
  box-shadow: none !important;
}

.white-input .ant-select-selector {
  background: #FFF !important;
  border-radius: 12px !important;
  border: 1px solid #E1E6EF !important;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03) !important;
}

.ant-input {
  border: none !important;
  outline: 1px solid transparent !important;
  transition: all 0.2s ease;
  box-shadow: none !important;
  background: inherit;
}


/* On hover */
.ant-select-selector:hover {
  outline: 1px solid #0048FF !important;
}

/* On focus */
.ant-select-focused .ant-select-selector {
  outline: 1px solid #0048FF !important;
}


/* imgUploadClass */
.imgUploadClass.ant-upload-wrapper {
  position: relative;
}

.imgUploadClass.anticon {
  display: flex;
  position: absolute !important;
  bottom: 0 !important;
}

.ant-select {
  display: flex;
  align-items: center;
}

.ant-tabs-tab-btn {
  color: #717680;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00245F;
  text-shadow: 0 0 0.25px currentcolor;
}

.ant-tabs .ant-tabs-ink-bar {
  background: #00245F;
}

.ant-table-thead th {
  color: #6D6E75 !important;
  font-family: Inter !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 130% !important;
}

.ant-table-cell {
  color: #0C0D19;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 18.2px */
}

.ant-pagination .ant-pagination-item-active a {
  color: #1677ff;
  border-radius: 6px;
  background: var(--Primary, linear-gradient(95deg, #09B5FF 0%, #4F81FF 53.67%, #0048FF 100%));
  color: #FFF;
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  border: none !important;
}

.test-class .ant-btn {
  font-size: 45px !important;
}

/* tarek css */